# Node.js
node_modules/
npm-debug.log
package-lock.json

# Build output
/dist/
/build/

# React
/coverage/
/public/static/
/src/**/*.css

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
Thumbs.db